<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <form>
    <div>
      <mat-form-field>
        <mat-label>Fetch a visit</mat-label>
        <textarea matInput #visitNumber placeholder="Visit number"></textarea>
      </mat-form-field>
      <button mat-raised-button ng-click="fetchVisit">Visit number</button>
    </div>
  </form>
  <ul>
    <li *ngFor="let visit of loadingVisits">
      <observable-placeholder [name]="visit.name">
      </observable-placeholder>
    </li>
    <li *ngFor="let visit of loadedVisits">
        <json-content [name]="visit.name" [value]="visit.value">
        </json-content>
    </li>
  </ul>
</div>
