<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <mat-form-field>
      <mat-label>Fetch a visit</mat-label>
      <textarea matInput #visitNumber placeholder="Visit number"></textarea>
    </mat-form-field>
    <button mat-raised-button (click)="fetchVisit(visitNumber.value)">Visit number</button>
  </div>
  <ul>
    <li *ngFor="let visit of loadingVisits">
      <observable-placeholder [name]="visit.name">
      </observable-placeholder>
    </li>
    <li *ngFor="let visit of loadedVisits">
        <json-content [name]="visit.name" [value]="visit.value">
        </json-content>
    </li>
  </ul>
</div>
